<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWorker" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6410/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWorker" contract="ProducerWCF.IWorker"
                name="BasicHttpBinding_IWorker" />
        </client>
    </system.serviceModel>
</configuration>